ALTER TABLE public.beneficiaries ADD COLUMN IF NOT EXISTS token_no INTEGER;

CREATE OR REPLACE FUNCTION public.assign_token_no()
RETURNS TRIGGER AS $$
DECLARE
    next_token INTEGER;
BEGIN
    -- Assign a global serial token number
    SELECT COALESCE(MAX(token_no), 0) + 1
    INTO next_token
    FROM public.beneficiaries;

    NEW.token_no := next_token;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS set_token_no ON public.beneficiaries;
CREATE TRIGGER set_token_no
BEFORE INSERT ON public.beneficiaries
FOR EACH ROW
EXECUTE FUNCTION public.assign_token_no();
